<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sife.sun.dao.product.ProductMapper">
    <resultMap id="BaseMap" type="com.sife.sun.pojo.product.Product">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="product_code" property="productCode" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="number" property="number" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, product_code, name, price, number
    </sql>

    <select id="queryByProductCode" parameterType="java.lang.String" resultMap="BaseMap">
        select
        <include refid="Base_Column_List" />
        from product where product_code = #{productCode}
    </select>

    <update id="updateByProductCode" parameterType="java.util.Map">
        update product set number = #{number} where product_code = #{productCode}
    </update>

</mapper>